  <%= user.label :name %>
  <%= user.text_userield :name %>
  <%= user.label :email %>
  <%= user.text_userield :email %>
  <%= user.label :password %>
  <%= user.text_userield :password %>
  <%= user.label :password_conuserirmation %>
  <%= user.text_userield :password_conuserirmation %>
  <p>
    <%= user.submit "Create", :class => "btn btn-primary" %>
  </p>

<% end %>
